<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notes</title>
    <link rel="stylesheet" href="/public/assets/style.css">
</head>
<body class="regPageBody">
    <h1 id="regLabel">Register</h1>
    <div class="regForm">
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="Username" minlength="5" maxlength="20" required>
            <input id="password" type="password" name="password" placeholder="Password" minlength="6" maxlength="30" required>
            <input id="passwordConfirm" type="password" name="passwordConfirm" placeholder="Confirm Password">
            <br>
            <span id="message"></span>
            <button id="regBtn">Register</button>
            <a href="/">Sign In</a>
        </form>
    </div>
</body>
<!-- <script> 
    function errorMessage() { 
        var error = document.getElementById("error") 
        if (isNaN(document.getElementById("password").value))  
        { 
              
            // Changing content and color of content 
            error.textContent = "Password should contain more than 6 characters." 
            error.style.color = "red" 
        } else { 
            error.textContent = "" 
        } 
    } 
</script> -->

<script>

    // document.querySelector('#regBtn').onClick = function(){
    //     var password = document.querySelector('#password').value,
    //     confirmPassword = document.querySelector('#passwordConfirm').value;

    //     if(password == "") {
    //         alert("Field cannot be empty.");
    //     }
    //     else if(password != confirmPassword){
    //         alert("Password didn't match try again.");
    //     }
    // }


    // var check = function() {
    //     if (document.getElementById('password').value ==
    //         document.getElementById('passwordConfirm').value) {
    //         document.getElementById('password').style.backgroundColor = 'lightgreen';
    //         document.getElementById('passwordConfirm').style.backgroundColor = 'lightgreen';
    //         document.getElementById('message').style.color = 'green';
    //         document.getElementById('message').innerHTML = '🗸';
    //     } else {
    //         document.getElementById('password').style.backgroundColor = 'transparent';
    //         document.getElementById('passwordConfirm').style.backgroundColor = 'transparent';
    //         document.getElementById('message').style.color = 'red';
    //         document.getElementById('message').innerHTML = 'X';
    //     }
    // onkeyup='check();'
    // }

//     function check_pass() {
//     if (document.getElementById('password').value ==
//             document.getElementById('confirm_password').value) {
//         document.getElementById('regBtn').disabled = false;
//     } else {
//         document.getElementById('regBtn').disabled = true;
//     }
// }
</script>
</html>