<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
    <h1 id="showHeader">Your Note</h1>
    <div class="showContainer">
        <p id="showNoteTitle"><%=note.title%></p>
        <p id="showNoteContent"><%=note.content%></p>
    </div>

    <a id="showEditBtn" href="<%= note._id %>/edit">Edit Note</a>
    <a id="showBackBtn" href="/notes">Back</a>
</body>
</html>